*{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb (65, 66, 81);
    padding-top: 1%;
    padding: left 0;
    padding: right 0;
    margin: 0;
}



body{  
    background-color: rgb(65, 66, 81);

}   
nav ul{
    list-style-type: none;
    text-decoration: none;
    padding: left 0;
    padding: right 0;
    margin: 0;
    text-align: left;
    color: rgb(255, 255, 255);
}

nav ul a{ 
    text-align: right;    
    padding-left : 20%;
    padding-bottom: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

hr{
    border: 1;
    padding : 0;
    height: 1;
    color: rgb(255, 255, 255);

}
main h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-indent: 5%;
    padding: 0 ;
    margin-top: 8%;
    margin-bottom: 5%;
}
    
div.contenu{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
}

div.contenu h3{
    color: rgb(255, 255, 255);
    
}
div.contenu p{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;    
}

div.contenu i{
       color: rgb(108, 192, 145);
       margin: 0;
       
    
}

.button{
    position: absolute;    
    top: 90%;
    left: 45%;
    background: rgba(255,255,255,0);
    border-color : rgb(108, 192, 145);
    color: rgb(108, 192, 145); 
    border-radius: 35%;
    padding: 14px 28px;
    text-decoration: none;
}
    
    
    
}
    

